#seatArrayContainer {
    display: grid !important;
    grid-template-columns: repeat(var(--col), 3rem);
    grid-template-rows: repeat(var(--row), 1fr);
}
button[data-pos] {
    aspect-ratio: 1/1;
    background-color: transparent;
    border-color: transparent;
    grid-column: var(--x);
    grid-row: var(--y);
}
button[data-pos] *.bi {
    font-size: 2rem;
}
button[data-pos]:disabled {
    filter: grayscale(1);
}
button[data-pos][active] {
    filter: hue-rotate(300deg);
}
button[data-pos] *[withActive] {
    display: none;
}
button[data-pos] *[withoutActive] {
    display: block;
}
button[data-pos][active] *[withActive] {
    display: block;
}
button[data-pos][active] *[withoutActive] {
    display: none;
}
